.App {
    width: 100vw;
    height: minmax(100%, 100vh);
}

html {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

:root {
    --medlock-dark-blue: #14589c;
    --medlock-blue: #1b74ce;
    --medlock-dark-gray: #414756;
    --medlock-gray: #a5abbd;
    --medlock-light-gray: #ebebf2;
    --medlock-deep-blue: #22394f;
    --medlock-red: #c32e29;
}

body { 
    font-size: 100%;
}

.SecuredRoutes-container {
    width: 100%;
    height: 100%;
    padding: 1vw;
}

.loader {
    border: 16px solid var(--medlock-light-gray);
    border-top: 16px solid var(--medlock-blue);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 35vh;
    animation: spin .5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loading-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--medlock-dark-gray);
    text-align: center;
    padding-top: 15px;
    font-weight: 600;
}

h1.header {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #4d4f5c;
  }

h3.header {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #4d4f5c;
}

select {
    border-radius: 5px;
    border-color: var(--medlock-gray);
    margin: 5px;
    padding: 2px;
}

.grid line {
    stroke: var(--medlock-dark-gray);
    opacity: .2;
}