.Helmet{
    height: 100%;
}

#login-body {
    background-color: var(--medlock-blue);
}

#login-logo {
    position: relative;
    height: 100%;
    width: 30vw;
    margin-top: 15vw;
    margin-left: 33vw;
    margin-bottom: 2vw;
    align-content: center;
    justify-content: center;
}

#login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1vw;
    border-radius: 2vw;
    border-color: var(--medlock-blue);
    border-style: solid;
    justify-content: center;
    align-content: center;
    background-color: white;/*var(--medlock-blue);*/
} 

#login-button {
    position: relative;
    display: flex;
    border-width: 5px;
    border-radius: 1vw;
    border-color: white;
    font: var(--medlock-blue);
    background: var(--medlock-blue);
    font-weight: bold;
    font-size: 1.3vw;
    text-align: center;    
    margin: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
}