.patientView-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.patientView-container > * {
    border: 1px solid #ccc;
}

.leftPanel {
    display: flex;
    flex-direction: column;
}

.leftPanel > * {
    border: 1px solid #ccc;
}

.personalDataView-container {
    display: flex;
    flex-direction: column;
}

.personalDataView-container > * {
    align-self: center;
}

.medicalDataView-container {
    display: flex;
    flex-direction: column;
}

.medicalDataView-content {
    display: flex;
    flex-direction: column;
}

.consumptionDataView-container {
    display: flex;
    flex-direction: column;
}

.consumptionDataView-content {
    display: flex;
    flex-direction: column;
} 