.profile-picture-onPage {
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--medlock-blue);
    height: 120px;
    width: auto;
    border-radius: 50%;
}

.editButton {
    background-color: white;
    color: black;
}


.profile-container {
    display: grid;
}


.main > * {
    align-items: center;
}

.biography {
    /*
    box-shadow: 0 8px 17px 0 rgba(139, 139, 139, 0.4);
    background-color: var(--medlock-light-gray);
    box-sizing: border-box;
    width: flex;
    max-width: 50%;
    border-radius: 15px;
    display: flexbox;
    */
    box-shadow: 2px 5px 10px 0
    hsla(0,0%,74.5%,.4);
    border-left: 5px solid var(--medlock-dark-blue);
    border-radius: 5px;
    text-align: left;
    background-color: var(--medlock-blue);
    padding-top: 5px;
    line-height: 1.3em;
    padding-bottom: .1em;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 10px;
    
}
.biographyHeader {
    background: none;
    display: block;
    border-radius: 0px;
    box-sizing: border-box;
    text-align: left;
}

.userInfo {
    margin-top: 20px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    display:flexbox;
    max-width: 50%;
    text-align: left;
}

.profileModules-container {
    display: grid;
    grid-template: 1fr;
    padding: 1em;
    grid-gap: 1em;
}
.profileModules-container > * {
    border: 1px solid #ccc;
}

/* .profileModules-container > div:nth-child(odd) {
    background: #ddd;
}

.profileModules-container > div:nth-child(even) {
    background: #eee;
} */

.personalInfo-container {
    display: grid;
    grid-template-columns: 5fr;
    padding: 50px;
    line-height: 2em;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--medlock-light-gray);
    padding: 15px;
}

.personalInfo-container:hover {
    box-shadow: 0px 0px 10px var(--medlock-gray);
}

.profilePic{
    height: 110px;
}

.editProfile{
    background: none;
    position: absolute; 
    color: black;
    padding: 0;
    top: 210px;
    right: 340px;
    border: none;
    border: none;
    float: right;
    font-weight: 600;

}

.editProfile:hover, .editProfile:active{
    background: none;
    color: black;
}

