.dispense-log { background-color: #58A8F9; }

.colOff-log { background-color: #BE4545; }

.btn1-log { background-color: #96DE99; }

.btn2-log { background-color: #E0E497; }

.btn3-log { background-color: #D89494; }