/* .UserList-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */
.UserList {
    text-align: center;
}

.UserList-ControlPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.Users-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.Users-container > * {
    background: var(--medlock-light-gray);
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 1vw;
    font-weight: 1000;
    color: var(--medlock-dark-gray);
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 15px;
    text-align: center;
    width: 100%;
}

.createNewUserForm {
    width: 100%;
    padding: 10px;
    display: inline-block;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.input-form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.form-heading {
    margin: auto;
    text-align: center;
}

.create-new-btn {
    color: white;
    background-color: var(--medlock-blue);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.delete-btn {
    color: white;
    background-color: red;
    border: 1px solid #ccc;
    border-radius: 5px;
}