.DashHeader {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
    justify-items: center;
    align-items: center;
}

.logo-container {
    grid-column: 1/4;
}

.quote {
    grid-column: 6/8;
    text-align: center;
    vertical-align: center;
}

.UserInfo-container {
    grid-column: 11/13;
}


