.Dashboard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 9fr;
    width: 100vw;
    height: 100vh;
}

.DashHeader {
    grid-column: 1/13;
    grid-row: 1/2;
    height: 10vh;
}

.SideBar-container {
    grid-column: 1/3;
    grid-row: 2/3;
}

.DashIcons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

@media (max-width: 800px) {
    .DashIcons-container {
        grid-template-columns: 1fr;
    }
}

.Dashboard-content {
    grid-column: 3/13;
    grid-row-start: 2;
    padding: 10px;
}

/* @media (max-width: 1200px), (max-height: 800px) {
    .Dashboard-content {
        grid-column: 1/13;
        grid-row-start: 2;
        padding: 10px;
    }
} */