.DashHeader {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.quote {
    grid-column: 4/6;
    text-align: center;
    vertical-align: center;
}

.UserInfo-container {
    grid-column: 8/10;
}
