.Dashboard {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 9fr;
    width: 100vw;
    height: 100vh;
}

.DashHeader {
    grid-column: 1/13;
    grid-row: 1/2;
    height: 12vh;
}

.SideBar-container {
    grid-column: 1/3;
    grid-row: 2/3;
    z-index: 1;
    margin-top: 2vh; /* Add a top margin to avoid content overlay */
}

.DashIcons-container {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

@media (max-width: 800px) {
    .DashIcons-container {
        grid-template-columns: 1fr;
    }
}

.Dashboard-content {
    grid-column: 3/13;
    grid-row-start: 2;
    padding: 20px;
    margin-top: 2.5vh; /* Add a top margin to avoid content overlay */
    margin-left: 16.67vw; /* Add a left margin to avoid sidebar overlay */
}

/* @media (max-width: 1200px), (max-height: 800px) {
    .Dashboard-content {
        grid-column: 1/13;
        grid-row-start: 2;
        padding: 10px;
    }
} */