/* <<<<<<< HEAD */
.MyPatients {
    width: 100%;
    margin: 0 auto;
}
/* ======= */

#register-patient {
    margin-top: 15px;
    border-radius: .5vw;
    background-color: var(--medlock-blue);
    border: none;
    font-weight: bold;
}

#register-patient:hover {
    background-color: var(--medlock-dark-blue);
}

.react-search-field {
}

#register {
    border-radius: .5vw;
    background-color: var(--medlock-blue);
    border: none;
    font-weight: bold;
}

#register:hover {
    background-color: var(--medlock-dark-blue);
}

.PersonalDataView {
    border-radius: 15px;
    padding: 10px;
    width: auto;
}

.PersonalDataView > .content > * {
    margin: 0px;
}
/* >>>>>>> master */
