.pd-container {
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(12, 1fr)
}

.pd-container > * { 
    border: 1px solid #ccc; 
}

.pd-title {
    grid-column: 1/13;
    grid-row: 1/2;
}


.pd-body {
    grid-column: 1/13; 
}

.avg-pdi-bar {
    width: 20%; 
    padding: 0;
    margin-left: 50px; 
    border: 1px solid #ccc; 
}

.pdi-lines {
    width: 20%; 
    padding: 0; 
    margin-left: 50px; 
    border: 1px solid #ccc; 
}

.pdi-stacked {
    width: 20%; 
    padding: 0; 
    margin-left: 50px; 
    border: 1px solid #ccc; 
}

.dispense-bar {
    width: 20%; 
    padding: 0; 
    margin-left: 50px; 
    border: 1px solid #ccc; 
} 

.dispense-scatter {
    width: 20%; 
    padding: 0; 
    margin-left: 50px; 
    border: 1px solid #ccc; 
}

.tooltip {
    position: absolute;
    font-size: 12px;
    width: auto;
    height: auto;
    pointer-events: none;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
}

