.profile-container {
    display: grid;
}

.profile-container > * {
    border: 1px solid #ccc;
}

.main > * {
    border: 1px solid #ccc;
    align-items: center;
}

.biography {
    box-sizing: border-box;
    box-shadow:3px 3px gray;
    width: flex;
    max-width: 70%;
    border: 1px solid black;
    background: var(gray);
    border-radius: 5px;
    display: flexbox;
    padding: 0px;
}

.biographyHeader {
    background: var(--medlock-blue);
    display: flexbox;
    box-sizing: border-box;
    border-radius: 5px 5px;

}

.profileModules-container {
    display: grid;
    grid-template: 1fr;
    padding: 1em;
    grid-gap: 1em;
}
.profileModules-container > * {
    border: 1px solid #ccc;
}

.profileModules-container > div:nth-child(odd) {
    background: #ddd;
}

.profileModules-container > div:nth-child(even) {
    background: #eee;
}

.personalInfo-container {
    display: grid;
    grid-template-columns: 5fr;
    
}

.personalInfo-static {
    display: block
}

.editButton {
    background-color: white;
    color: black;
}

.personalInfo-container > * {
    border: 1px solid #ccc;
}

.profile-picture {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--medlock-blue);
    height: 200px;
    width: auto;
    display: block;
}



