.profile-picture-onPage {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--medlock-blue);
    height: 200px;
    width: auto;
    display: block;
    border-radius: 50%;
}

.editButton {
    background-color: white;
    color: black;
}

.profile-page {
    font: "s"
}

.profile-container {
    display: grid;
}

.profile-container > * {
    border: 1px solid #ccc;
}

.main > * {
    border: 1px solid #ccc;
    align-items: center;
}

.biography {
    box-sizing: border-box;
    box-shadow:3px 3px 3px gray;
    width: flex;
    max-width: 50%;
    border: 1px solid black;
    background: var(gray);
    border-radius: 5px;
    display: flexbox;
}

.userInfo {
    margin-top: 20px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    display:flexbox;
    max-width: 50%;
    text-align: left;
}
.biographyHeader {
    background: var(--medlock-blue);
    display: block;
    box-sizing: border-box;
    color: white;
    text-align: left;
    text-indent: 10px;
}

.profileModules-container {
    display: grid;
    grid-template: 1fr;
    padding: 1em;
    grid-gap: 1em;
}
.profileModules-container > * {
    border: 1px solid #ccc;
}

.profileModules-container > div:nth-child(odd) {
    background: #ddd;
}

.profileModules-container > div:nth-child(even) {
    background: #eee;
}

.personalInfo-container {
    display: grid;
    grid-template-columns: 5fr;
    
}

.personalInfo-static {
    display: block
}

.personalInfo-container > * {
    border: 1px solid #ccc;
}




