.SideBar {
    background-color: #1b74ce;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    /* border-radius: 25px; */
}

.SideBar-welcome {
    text-align: center;
    padding: 20px;
}

.SideBar > * {
    text-align: center;
    /* flex: 1 1 auto; */
}

.ModuleLinks-container {
    display: flex;
    flex-direction: column;
}

.SideBarButtonGroup { 
    width: 100%;
}

.SideBar-subtitle {
    background-color: #22394F; 
    padding: 10px;
    margin: 0px;
}

.ModuleLink {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #14589C;
}

.ModuleLink > * {
    padding: 10px;
}

.ModuleLink-icon {
    width: 25px;
    height: auto;
}

.ModuleLink:hover {
    background-color: #14589C;
}

.logoutButton-container {
    margin-top: auto;
}

.logoutButton {
    background-color: #1b74ce;
    color: white;
    width: 50%;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.logoutButton:hover {
    background-color: #14589C;
}

.SideBar-section {
    padding: 20px
}