.SideBar {
    background-color: var(--medlock-blue);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    z-index: 2;
    box-shadow: 2px 2px 5px black;
    /* border-radius: 25px; */
}

.SideBar-welcome {
    text-align: center;
    padding: 20px;
}

.SideBar > * {
    text-align: center;
    /* flex: 1 1 auto; */
}

.ModuleLinks-container {
    display: flex;
    flex-direction: column;
}

.SideBarButtonGroup { 
    width: 100%;
}

.SideBar-subtitle {
    background-color: var(--medlock-deep-blue);
    padding: 10px;
    margin: 0px;
}

.ModuleLink {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--medlock-dark-blue);
}

.ModuleLink > * {
    padding: 10px;
}

.ModuleLink > h6 {
    margin: 0px;
}

.ModuleLink-icon {
    width: 25px;
    height: auto;
}

.ModuleLink-name > p {
    margin: 0px;
    padding: 0px;
}

.ModuleLink:hover {
    background-color: var(--medlock-dark-blue);
}

.logoutButton-container {
    margin-top: auto;
}

.logoutButton {
    background-color: var(--medlock-blue);
    color: white;
    width: 50%;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.logoutButton:hover {
    background-color: var(--medlock-dark-blue);
}

.SideBar-section {
    padding: 20px
}