.SideBar {
    background-color: #1b74ce;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    border-radius: 25px;
}

.SideBar-welcome {
    text-align: center;
    padding: 20px;
}

.SideBar > * {
    text-align: center;
    /* flex: 1 1 auto; */
}

.SideBarButton {
    background-color: #1b74ce;
    border: 1px solid white;
    color: white;
    width: auto;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}

.SideBarButton:hover {
    background-color: #14589C;
}

.SideBarItems-container {
    display: flex;
    flex-direction: column;
}

.SideBarButtonGroup { 
    width: 100%;
}

.SideBar-subtitle {
    background-color: #22394F; 
    padding: 10px;
    margin-bottom: 5px;
}
