.survey-container {
    width: 100%; 
}

.survey-response {
    display: flex; 
    border: 1px solid #ccc; 
    width: 40%; 
    margin: auto; 
    justify-content: space-between; 
    align-content: end;
}

.survey-response > *, .prev-btn, .next-btn, .minus, .plus {
    border: 1px solid #ccc; 
}

.prev-btn, .minus {
    float: left; 
} 

.next-btn, .plus {
    float: right; 
}


