.UserListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.UserListItem-userInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}