.App {
    width: 100vw;
    height: 100vh;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

:root {
    --medlock-dark-blue: #14589c;
    --medlock-blue: #1b74ce;
    --medlock-dark-gray: #414756;
    --medlock-gray: #a5abbd;
    --medlock-light-gray: #ebebf2;
    --medlock-deep-blue: #22394f;
    --medlock-red: #C34929;
}

body { 
    font-size: 100%;
}